.logo {
  width: 80px;
  height: 100px;
  margin-right: 20px;
}

header {
  display: flex;
}

.header_logo {
  display: flex;
  padding: 20px 0;
  align-items: center;
}

nav {
  margin-left: auto;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

a {
  text-decoration: none;
}

.active {
  text-decoration: underline;
}
