.myProfile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  width: 100%;
}

.my-comp {
  width: 80%;
}

.my-comp ul {
  border: 2px solid #011231;
}

.my-comp ul li {
  list-style-type: none;
  padding: 20px 20px;
  border-bottom: 2px solid #6495ed;
  font-size: 1.5em;
}

.my-comp > p {
  font-size: 1.5em;
  border: 2px solid #021b49;
  padding: 20px;
}
